// Jpeg settings for all configurations

#include "Base-All.xcconfig"


PRODUCT_NAME = Jpeg

PRODUCT_INFO_VERSION = 8d
PRODUCT_INFO_COPYRIGHT = Copyright (C) 1991-2012, Thomas G. Lane, Guido Vollbeding.
PRODUCT_INFO_SHORTNAME = jpeg
PRODUCT_INFO_PATH = www.ijg.org/files/
PRODUCT_INFO_HASH = 52654eb3b2e60c35731ea8fc87f1bd29
