// PhysFS settings for all configurations

#include "Base-All.xcconfig"


PRODUCT_NAME = PhysFS
FRAMEWORK_SEARCH_PATHS = $(inherited) $(FRAMEWORK_SEARCH_PATHS_QUOTED_2)

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) PHYSFS_SUPPORTS_ZIP PHYSFS_SUPPORTS_GRP PHYSFS_SUPPORTS_HOG PHYSFS_SUPPORTS_QPAK PHYSFS_SUPPORTS_WAD PHYSFS_SUPPORTS_MVL

PRODUCT_INFO_VERSION = 1.1.1
PRODUCT_INFO_COPYRIGHT = Copyright (c) 2003 Ryan C. Gordon and others.
PRODUCT_INFO_SHORTNAME = physfs
PRODUCT_INFO_PATH = icculus.org/physfs/downloads/
PRODUCT_INFO_HASH = 0359b67793c1c14f00de1d1bbeb8ed6a
