// Png settings for all configurations

#include "Base-All.xcconfig"


PRODUCT_NAME = Png
FRAMEWORK_SEARCH_PATHS = $(inherited) $(FRAMEWORK_SEARCH_PATHS_QUOTED_2)
GCC_WARN_INHIBIT_ALL_WARNINGS = YES

PRODUCT_INFO_VERSION = 1.5.13
PRODUCT_INFO_COPYRIGHT = Copyright 1995-2012 contributing authors.
PRODUCT_INFO_SHORTNAME = libpng
PRODUCT_INFO_PATH = downloads.sourceforge.net/project/libpng/libpng15/1.5.13/
PRODUCT_INFO_HASH = 9c5a584d4eb5fe40d0f1bc2090112c65
