// Theora settings for all configurations

#include "Base-All.xcconfig"


PRODUCT_NAME = Theora
USER_HEADER_SEARCH_PATHS = $(inherited) $(SRCROOT)/external/libtheora/lib/
WARNING_CFLAGS = -Wno-parentheses // Silence warnings that are not ours

PRODUCT_INFO_VERSION = 1.1.1
PRODUCT_INFO_COPYRIGHT = Copyright © 2002-2009 Xiph.Org Foundation
PRODUCT_INFO_SHORTNAME = libtheora
PRODUCT_INFO_PATH = downloads.xiph.org/releases/theora/
PRODUCT_INFO_HASH = bb4dc37f0dc97db98333e7160bfbb52b
